n8n_telegram_capture.json
{
  "name": "Instagram → Wiki raw/ capture",
  "nodes": [
    {
      "parameters": {
        "updates": ["message"],
        "additionalFields": {}
      },
      "id": "11111111-1111-1111-1111-111111111111",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [240, 300],
      "webhookId": "ig-reel-capture"
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "sendMessage",
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "⏳ Verarbeite dein Reel … (Download + Transkript + On-screen-Text, ca. 30–60 Sek.). Ich melde mich, sobald es im Vault liegt.",
        "additionalFields": {}
      },
      "id": "44444444-4444-4444-4444-444444444444",
      "name": "Ack on Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [440, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:8000/n8n/ingest",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ url: ($('Telegram Trigger').item.json.message.text.match(/https?:\\/\\/\\S+/) || [$('Telegram Trigger').item.json.message.text])[0].trim() }) }}",
        "options": {
          "timeout": 600000
        }
      },
      "id": "22222222-2222-2222-2222-222222222222",
      "name": "Ingest Reel",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [660, 300],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "sendMessage",
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.success ? ('✅ Gespeichert: ' + $json.file + '  ·  @' + $json.author + '  ·  ' + $json.transcript_chars + ' Zeichen Transkript, ' + $json.ocr_blocks + ' OCR-Block(e)') : ('⚠️ Fehler: ' + ($json.error && $json.error.message ? $json.error.message : JSON.stringify($json))) }}",
        "additionalFields": {}
      },
      "id": "33333333-3333-3333-3333-333333333333",
      "name": "Reply on Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [880, 300]
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [[{ "node": "Ack on Telegram", "type": "main", "index": 0 }]]
    },
    "Ack on Telegram": {
      "main": [[{ "node": "Ingest Reel", "type": "main", "index": 0 }]]
    },
    "Ingest Reel": {
      "main": [[{ "node": "Reply on Telegram", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "active": false
}
