n8n_telegram_capture.json
{
  "name": "Instagram → Wiki raw/ capture",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "id": "11111111-1111-1111-1111-111111111111",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [
        240,
        300
      ],
      "webhookId": "ig-reel-capture"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://192.168.178.36:8000/n8n/ingest",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ url: ($('Telegram Trigger').item.json.message.text.match(/https?:\\/\\/\\S+/) || [$('Telegram Trigger').item.json.message.text])[0].trim(), callback_url: 'http://host.docker.internal:5678/webhook/ingest-done', meta: { chat_id: $('Telegram Trigger').item.json.message.chat.id } }) }}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "22222222-2222-2222-2222-222222222222",
      "name": "Ingest Reel",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        660,
        300
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "chatId": "={{ $json.body.meta.chat_id }}",
        "text": "={{ $json.body.success ? ('✅ ' + ({instagram:'Instagram',youtube:'YouTube'}[$json.body.source]||$json.body.source) + '-' + ({reel:'Reel',post:'Post',video:'Video'}[$json.body.kind]||'Inhalt') + ' gespeichert: ' + $json.body.file + '  ·  @' + $json.body.author + ($json.body.transcript_chars ? ('  ·  ' + $json.body.transcript_chars + ' Zeichen Transkript') : '') + ($json.body.ocr_blocks ? ('  ·  ' + $json.body.ocr_blocks + ' OCR-Block(e)') : '')) : ($json.body.user_message || '⚠️ Unbekannter Fehler') }}",
        "additionalFields": {}
      },
      "id": "33333333-3333-3333-3333-333333333333",
      "name": "Reply on Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        880,
        300
      ],
      "webhookId": "e69972e9-fadb-43d9-81dc-a7b9fc403c2b"
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "sendMessage",
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ '⏳ Verarbeite dein ' + ((u)=>{u=(u||'').toLowerCase(); return (u.includes('youtube.com')||u.includes('youtu.be'))?'YouTube-Video':(u.includes('instagram.com')?'Instagram-Reel/Post':'Inhalt');})($json.message.text) + ' … Download + Transkript laufen, kann etwas dauern. Ich melde mich, sobald es im Vault liegt.' }}",
        "additionalFields": {}
      },
      "id": "44444444-4444-4444-4444-444444444444",
      "name": "Ack on Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        440,
        300
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ingest-done",
        "options": {}
      },
      "id": "ec26f434-02d0-45b7-82d6-b39c65b7149e",
      "name": "Ingest Done",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        240,
        520
      ],
      "webhookId": "1cb40bb4-ff51-44c3-afb6-c5dd63570423"
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Ack on Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ack on Telegram": {
      "main": [
        [
          {
            "node": "Ingest Reel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ingest Done": {
      "main": [
        [
          {
            "node": "Reply on Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "active": false
}